<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Disciplina</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Código*</ion-label>
      <ion-input type="text" formControlName="codigo" autofocus></ion-input>
    </ion-item>
      <p class="hint" *ngIf="form.controls['codigo'].errors && form.controls['codigo'].dirty">Código Inválido! Mínimo 3 caracteres!</p>
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input type="text" formControlName="nome" required></ion-input>
    </ion-item>
      <p class="hint" *ngIf="form.controls['nome'].errors && form.controls['nome'].dirty">Nome Inválido! Mínimo 3 caracteres alfabéticos!</p>
    <ion-item>
      <ion-label position="floating">Professor*</ion-label>
      <ion-input type="text" formControlName="professor" required></ion-input>
    </ion-item>
      <p class="hint" *ngIf="form.controls['professor'].errors && form.controls['professor'].dirty">Professor Inválido! Mínimo 3 caracteres alfabéticos!</p>
    <ion-item>
      <ion-label position="floating">Carga Horária*</ion-label>
      <ion-input type="number" formControlName="cargaHoraria" required></ion-input>
    </ion-item>
      <p class="hint" *ngIf="form.controls['cargaHoraria'].errors && form.controls['cargaHoraria'].dirty">Carga horária Inválida! Mínimo e máximo permitidos: 15 e 120 hs!</p>
    <ion-item>
      <ion-label position="floating">Nota*</ion-label>
      <ion-input type="number"  formControlName="nota" required></ion-input>
    </ion-item>
      <p class="hint" *ngIf="form.controls['nota'].errors && form.controls['nota'].dirty">Nota Inválida! Mínimo e máximo permitidos: 0 e 10!</p>
      <p class="hint">*Campos Obrigatórios.</p>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-button (click)="salvar()" disabled="{{form.invalid}}" color="primary">Salvar</ion-button>
    <ion-button (click)="remover()" *ngIf="disciplina!=null" color="danger">Remover</ion-button>
    <ion-button (click)="cancelar()" color="warning">Cancelar</ion-button>
</ion-footer>
